<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="work.icu007.learnaidl2">

    <queries>
        <package android:name="work.icu007.learnaidl" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAIDL">
        <activity

            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LearnAIDL.NoActionBar"
            tools:ignore="MissingClass"
            android:name="work.icu007.learnaidl2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>